*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(22, 22, 22);
    color: white;
   text-transform: capitalize;
}
:root{
    --main-color: rgb(62, 98, 104);
}
.nav{
    position: absolute;
    right: 5%;
    top: 2%;
    z-index: 3;
}
span{
    color: var(--main-color);
}
.st::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 20px;
    width: 60px;
    height: 5px;
    background-color: var(--main-color);
 }
.st::after{
  content: "";
  position: absolute;
  top: 60px;
  left: 20px;
  width: 30px;
   height: 5px;
 background-color: var(--main-color);
 }
.portflioo .st::before {
    top: -60px;
    left: -50px;
}
.portflioo .st::after{
    top: -50px;
    left: -50px;
}
.my-contact  .st::before{
   top: -60px;
    left: -1px;
}
.my-contact  .st::after{
    top: -50px;
    left: -1px;
}


svg{
    width: 20px;
    color: white !important;
    margin-right: 10px;
   fill: var(--main-color);
}
aside{
    width: 280px;
    height: 100vh;
    background-color: rgb(29, 28, 28);
  position: fixed;
  z-index: 2;
}
aside ul{
    transform: translateY(70%);
    padding-left: 0;
}
aside ul li{
    list-style: none;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 0px 2px 5px 5px var(--main-color);
}
aside ul li a{
    color: white;
    text-decoration: none;
}
aside ul li a:hover{
color: var(--main-color);
}
.logo{
    transform: translate(35%,190%);
    font-size: 40px;
}

.logo::before{
    content: "";
    position: absolute;
    top: 30px;
    left: -15px;
    width: 30px;
    height: 30px;
    border-left: 5px solid var(--main-color);
    border-bottom: 5px solid var(--main-color);
   
}
.logo::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 75px;
    width: 30px;
    height: 30px;
    border-right: 5px solid var(--main-color);
    border-top: 5px solid var(--main-color);
   
}


/*home padge*/
.content{
position: absolute;
left: 23%;
width: 77%;
}
.home{
    transform: translateY(30%);
    height: 100vh;
}

.home img{
    width: 300px;
    height: 300px;
    opacity: .4;
    transition: .5s;
}
.home img:hover{
 opacity: 1;
   
}
.images::before{
    content: "";
    position: absolute;
    top: -35px;
    right: 385px;
    width: 60px;
    height: 60px;
    border-left: 5px solid var(--main-color);
    border-top: 5px solid var(--main-color);
   
}
.images::after{
    content: "";
    position: absolute;
    top: 280px;
    right:  70px;
    width: 60px;
    height: 60px;
    border-bottom: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
   
}
.images{
   
    margin-left: 80px;
}

.name{  
    
    width: 600px;
}
.name h1 {
    margin-bottom: 30px;
}
.name h2 {
    margin-bottom: 30px;
}
.name p{
   font-size: 20px;
   margin-bottom: 80px;
}
.name button{
    background-color: var(--main-color);
}

.my{
    height: 30px;
}
.home ul{
    height: 50px;
    overflow: hidden;
    position: absolute;
    left: 75px;
    top: 75px;
}
.home ul li{
    list-style: none;
    line-height: 50px;
    position: relative;
    top: 0px;
    animation: slide 6s steps(3) infinite;
}
@keyframes slide{
    100%{
      top: -150px;
    }
}
.home ul li span{
position: relative;
}
.home ul li span::after{
    content: "";
    position: absolute;
    left: 0;
    width: 300px;
    height: 60px;
    background-color: rgb(22, 22, 22);
    border-left: 2px solid red;
    animation: typing 3s steps(20) infinite;
}
@keyframes typing{
    100%{
        left: 120%;
    }
}


/*page about me*/
.about{
    transform: translateY(10%);
    color: white;
   width: 97%;
    height: 100vh;
    margin-bottom: 80px;
}

.about h3{
    margin-bottom: -100px !important;
}
.data-me span{
    color: rgb(143, 143, 143);
}
.progress{
    height: 8px ;
}
.progress-in{
    transform: scaleX(0);
    animation:animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform-origin: left;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.skills{
    position: relative;
}
.skill-percent{
    color: white;
    position: absolute;
margin-top: -25px;
    right: 10%;
    
    font-size: 20px;
}
.my-data button{
    background-color: var(--main-color);
    height: 60px ;
    margin-right: 10px;
   padding: 0px 50px; 
    border-radius: 50px;
    color: white;
}

.date-study{
   height: 90vh;
  width: 100%;
}
.studing{
    height: 80vh;
    overflow: hidden;
}
.education{
    width: 80%;
 padding: 40px;
    padding-left: 80px;
    padding-bottom: 0;
    background-color: rgb(29, 28, 28);
    margin-right: 30px;
    border-radius: 10px;
}
.education::before{
content: "";
position: absolute;
left: 47px;
width: 2px;
height: 70vh;
background-color: red;
}
.con{
    margin-bottom: 30px;
    position: relative;
}
.con:last-child{
    margin-bottom: -50px;
}
.con span{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: -55px;
}
.education h3
,.experience h3{
    margin-bottom: 10px;
}
.education p,
.experience p{
    font-size: 13px;
color: rgb(134, 134, 134);
}
.experience{
    width: 80%;
    padding: 40px;
    padding-left: 80px;
    background-color: rgb(29, 28, 28);
    border-radius: 10px;
    position: relative;
}
.experience::before{
    content: "";
    position: absolute;
    left: 35px;
    width: 2px;
    height: 70vh;
    background-color: red;
}

/*servecies*/
.serves{
    transform: translateY(10%);
    color: white;
   width: 100%;
    height: 100vh;
    margin: auto;
    margin-left: 0px;
    margin-bottom: 80px;
}
.serves h1{
    margin-left: 5px;
}
.serv{
position: absolute;
transform: translate(0%,20%);
margin: auto;

}
.serv .my-serv{
    background-color: rgb(29, 28, 28);
    margin:0 0 70px 50px;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 15px 1px whitesmoke;
    opacity: .4;
}
.serv .my-serv:hover{
    box-shadow: 0 1px 1px 8px whitesmoke;
    opacity: 1;
}
.serv svg{
    width: 30px;
}

/*portflio page*/
.portflioo{
    height: 100vh;
    margin-bottom: 40px;
    width: 100%;
}

.portflioo h2{
    margin: 0 !important;
}
.portflioo h1{
    margin-bottom: 30px;
}
.my-port .port{
opacity: .7;
background-color: rgb(22, 22, 22);
margin: 30px;
padding: 0px;
position: relative;
}
.port a svg{
    width: 60px;
    position: absolute;
    top: 40%;
    left: 30%;
    opacity: 0;
}
 .port:hover svg{
    opacity: 1;
}
.my-port .port:hover{
    opacity: 1;
}
.my-port .port img{
margin: 0;
width: 100%;
height: 270px;
cursor: pointer;
border-radius: 5px;
}
.my-port{
   position: absolute;
   transform: translate(0%,0%);   
  margin-left: 50px;
}
/* width */
::-webkit-scrollbar{
    width: 20px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73); 
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 83, 83); 
  }


/*my-contact*/
.my-contact{
    height: 100vh;
}
.contact{
    transform: translate(0%,30%);
text-align: center;
}
.my-contact span{
    color: #ddd;
}
.contact p{
    margin-bottom: 50px;
}
.my-contact .send-me{
    text-align: center;
    transform: translate(0%,32%);
}
.inp input{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}
.inp input:first-child{
margin-right: 12px;
width: 48%;
}
.inp textarea{
  height: 100px;
  overflow: hidden;
  resize: none;
  border: none;
  outline: none;
  border-radius: 20px;
}
.inp input:last-child{
background-color: var(--main-color);
padding: 10px 30px;
border-radius: 20px;
color: white;
}


/*responsive */
@media(min-width: 100px) and (max-width: 1100px){
    .home .images::before{
          content: none;
      }
   .home .images::after{
     content: none;
   }
  aside{
    display: none;
  }
  .content{
    width: 100% !important;
    margin: auto !important;
    left: 0 !important;
  }
  }
 @media(max-width: 767px){
    .home ul{
        height: 50px;
        overflow: hidden;
        position: absolute;
        left: 45px;
        top: 55px;
 }
 .home{
width: 100%;
  height: 100vh;
  padding: 0;
   }
  .home .btn{
      transform: translateY(30vh) !important;
  }
  .name{
      width: 100% !important;
     
  }
  .images{
    width: 100% !important;
    margin: 0 !important;
}
.home img{
    width: 100% !important;
}


  /*about*/
  .about{
  height: 160vh !important;
  margin-bottom: 200px !important;
  padding: 0;

  }
  
  .data-me{
      display: block;
  }
  .my-data{
      display: block;
  }
  .skils{
      width: 100%;
  }
  .about p{
      margin-bottom: 0 !important;
  }
  .studing{
      display: block !important;
      width: 100%;
    transform: translateX(2%);
      margin: auto !important ;
  }
  .education{
      width: 100%;
      height: 100vh;
  }
  .experience{
      display: none;
  }
  
  /*serves*/
  .serves{
      height: 170vh !important;
      padding: 0!important;
    position: relative;
      width: 100%;
  }
.serv{
    transform: translate(5%,5%);
    margin: 0 !important;
    width: 95%;
    margin: auto !important;
}
  .my-serv{
      margin-left: 0px !important;
      margin-bottom: 50px!important;
      
  }
 .st::after{
    left: 14px;
}
.st::before{
    left: 14px;
}
  
  
  .portflioo{
      width: 100%;
      height: 280vh !important;
      transform: translateY(8%);
  }
  .port{
    margin: 30px 0 !important;
    
  }
  .sc{
    margin: 0;
  }
  .my-port{
      width: 95% !important;  
      margin: auto; 
      transform: translate(2%,5%) !important;
  }
  .portflioo .st::before{
      top: -70px;
      left: -10px;
  }
  .portflioo .st::after{
      top: -60px;
      left: -10px;
  }
  .portflioo .my-port, img{
      height: 200px !important;
  }
  .portflioo .my-port{
      display: block !important;
  }
  .port a svg{
    top: 45%;
    left: 40%;
}
  
  .send-me{
      margin-top: 50px;
      transform: translate(2%,32%) !important;
  }
  .send-me input{
      width: 100% !important;
margin: auto;
  }
textarea{
    margin: auto;
}
  .my-contact .st::before{
      top: -120px;   
  }
  .my-contact .st::after{
      top: -110px;  
  }
  
  .inp{
    padding: 10px;
  }
  .inp input,textarea{
    width: 100% !important;
  
}
  }

  
  
  
  @media(min-width: 768px) and (max-width: 992px){
    .content{
        width: 100% !important;
        margin: auto !important;
        left: 0 !important;
      }

    /*home*/  
  .home img{
      height: auto;
      position: absolute;
  transform: translate(150%,-100%) !important;
  }
  .home .name{
      width: 55%;
  }

  .home ul{
    height: 50px;
    overflow: hidden;
    position: absolute;
    left: 60px;
    top: 105px;
}
  
 
  .skills .skill-item{
      width: 100% !important;
  }
  
  
      .studing{
          width: 100%;
        margin: auto;
      }
      .education{
          width: 100%;
         
      }
      .experience{
          width: 100%;
          margin-left: 80px;
      }
      .date-study h2{
          padding-left: 120px;
      }
    
     
  
  
  
      .serves{
          height: 180vh !important;
      }
      .serv{
        transform: translate(6%,5%);
        margin: 0 !important;
        width: 90%;
        margin: auto !important;
      
    }
 
      .my-serv{
          margin-left: 0px !important;
          margin-bottom: 50px!important;
          
      }


      .portflioo{
          height: 340vh !important;
      }
  .my-port{
    
    width: 90% !important;  
    margin: auto; 
    transform: translate(6%,0%) !important;
  }
      .portflioo .st::before{  
          left: -42px;
      }
  .portflioo .st::after{
          left: -42px;
  }
  .port a svg{
    top: 45%;
    left: 45%;
}


       .inp{
          transform: translate(1%,17%) !important;
      }
      .inp input:first-child{
          width: 100% !important;
      }
    
     
  }
  
@media(min-width: 992px) and (max-width: 1420px){

.home .images::after{
content: none;
}
.home .images::before{
    content: none;
    }
.nav{
    display: block;
 }

 }
 @media (min-width: 1200px){
.nav{
    display: none;
}
 }   
  @media(min-width: 993px) and (max-width: 1200px){
      aside{
          display: none;     
    }
  .content{
    width: 100%;
          position: relative;
          left: 0% !important;
   }
  
  

  
  .serves{
      height: 120vh !important;
  }
 
  .portflioo{
      height: 160vh !important;
  }
  

  .send-me .inp input:first-child{
    width: 100% !important;
  }
  }
